In [30]:
import torch
import torch.nn as nn
from torch.autograd import Variable
import torch.optim as optim
import numpy as np

import matplotlib.pyplot as plt
from numpy import genfromtxt
import pandas as pd

from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
%matplotlib inline

In [31]:
dat = pd.read_csv('train.csv')

dat['Age'] = dat['Age'].fillna(dat['Age'].mean())



del dat['Ticket']
del dat['Name']
del dat['Cabin']


dat["Embarked"] = dat["Embarked"].fillna("S")

In [32]:
# dat = pd.concat([dat,pd.get_dummies(dat['Embarked'], prefix='Emb')],axis=1)

# dat = pd.concat([dat,pd.get_dummies(dat['Sex'], prefix='Sex')],axis=1)

# dat = pd.concat([dat,pd.get_dummies(dat['Pclass'], prefix='Pclass')],axis=1)

dat['Family_Size'] = dat['Parch'] + dat['SibSp']
dat.drop(['Embarked', 'SibSp', 'Parch'],axis=1, inplace=True)

# dat['Sex'].replace(['male','female'],[0,1],inplace=True)


# dat.isna().sum()


dat.head(4)

   PassengerId  Survived  Pclass     Sex   Age     Fare  Family_Size
0            1         0       3    male  22.0   7.2500            1
1            2         1       1  female  38.0  71.2833            1
2            3         1       3  female  26.0   7.9250            0
3            4         1       1  female  35.0  53.1000            1

In [33]:
dat['AgeBin'] = pd.qcut(dat['Age'], 4)
label = LabelEncoder()
dat.head(4)

,PassengerId,Survived,Pclass,Sex,Age,Fare,Family_Size,AgeBin
0,1,0,3,male,22.0,7.2500,1,"(0.419, 22.0]"
1,2,1,1,female,38.0,71.2833,1,"(35.0, 80.0]"
2,3,1,3,female,26.0,7.9250,0,"(22.0, 29.699]"
3,4,1,1,female,35.0,53.1000,1,"(29.699, 35.0]"

In [34]:
dat['FareBin'] = pd.qcut(dat['Fare'], 5)
dat['FareBin_Code'] = label.fit_transform(dat['FareBin'])
dat['AgeBin_Code'] = label.fit_transform(dat['AgeBin'])
dat['Sex'] = label.fit_transform(dat['Sex'])

dat.head()

,PassengerId,Survived,Pclass,Sex,Age,Fare,Family_Size,AgeBin,FareBin,FareBin_Code,AgeBin_Code
0,1,0,3,1,22.0,7.2500,1,"(0.419, 22.0]","(-0.001, 7.854]",0,0
1,2,1,1,0,38.0,71.2833,1,"(35.0, 80.0]","(39.688, 512.329]",4,3
2,3,1,3,0,26.0,7.9250,0,"(22.0, 29.699]","(7.854, 10.5]",1,1
3,4,1,1,0,35.0,53.1000,1,"(29.699, 35.0]","(39.688, 512.329]",4,2
4,5,0,3,1,35.0,8.0500,0,"(29.699, 35.0]","(7.854, 10.5]",1,2

In [35]:
del dat['PassengerId']
dat.head()

,Survived,Pclass,Sex,Age,Fare,Family_Size,AgeBin,FareBin,FareBin_Code,AgeBin_Code
0,0,3,1,22.0,7.2500,1,"(0.419, 22.0]","(-0.001, 7.854]",0,0
1,1,1,0,38.0,71.2833,1,"(35.0, 80.0]","(39.688, 512.329]",4,3
2,1,3,0,26.0,7.9250,0,"(22.0, 29.699]","(7.854, 10.5]",1,1
3,1,1,0,35.0,53.1000,1,"(29.699, 35.0]","(39.688, 512.329]",4,2
4,0,3,1,35.0,8.0500,0,"(29.699, 35.0]","(7.854, 10.5]",1,2

In [36]:
del dat['Age']
del dat['Fare']
del dat['AgeBin']
del dat['FareBin']
dat.head()

   Survived  Pclass  Sex  Family_Size  FareBin_Code  AgeBin_Code
0         0       3    1            1             0            0
1         1       1    0            1             4            3
2         1       3    0            0             1            1
3         1       1    0            1             4            2
4         0       3    1            0             1            2

In [37]:
train_data = dat.values
# train_data = train_data[:, 1:]
X = train_data[:,1:]
Y = train_data[:,0]

In [38]:
print(X.shape)

(891, 5)

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.3)

clf=RandomForestClassifier(n_estimators=1000)

clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [29]:
from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8246268656716418

In [18]:
print(y_pred.shape)

(268,)

#

In [35]:
X = torch.from_numpy(X)
Y = torch.from_numpy(Y)
Y = Y.view(X.size(0), 1)
print(Y[0:10])

tensor([[3],
        [1],
        [3],
        [1],
        [3],
        [3],
        [1],
        [3],
        [3],
        [2]])

In [36]:
X = X.type(torch.float)
Y = Y.type(torch.float)
print(Y.size())
print(X)

torch.Size([891, 1])
tensor([[1., 1., 0., 0.],
        [0., 1., 3., 4.],
        [0., 0., 1., 1.],
        ...,
        [0., 3., 1., 3.],
        [1., 0., 1., 3.],
        [1., 0., 2., 0.]])

In [37]:
class Net(nn.Module):
    
    def __init__(self):
        super().__init__()
        self.fc1 = nn.Linear(X.size(1), 50)
        self.relu1 = nn.ReLU()
        self.dout = nn.Dropout(0.2)
        self.fc2 = nn.Linear(50, 100)
        self.prelu = nn.PReLU(1)
        self.out = nn.Linear(100, 1)
        self.out_act = nn.Sigmoid()
        
    def forward(self, input_):
        a1 = self.fc1(input_)
        h1 = self.relu1(a1)
        dout = self.dout(h1)
        a2 = self.fc2(dout)
        h2 = self.prelu(a2)
        a3 = self.out(h2)
        y = self.out_act(a3)
        return y
    
net = Net()
opt = optim.Adam(net.parameters(), lr=0.001, betas=(0.9, 0.999))
criterion = nn.BCELoss()

In [38]:
def train_epoch(model, opt, criterion, batch_size=50):
    model.train()
    losses = []
    x_batch = Variable(X)
    y_batch = Variable(Y)

    opt.zero_grad()
    # (1) Forward
    y_hat = net(x_batch)
    # (2) Compute diff
    loss = criterion(y_hat, y_batch)
    # (3) Compute gradients
    loss.backward()
    # (4) update weights
    opt.step()        
    losses.append(loss.data.numpy())
    return losses

In [39]:
e_losses = []
num_epochs = 200000
for e in range(num_epochs):
    e_losses += train_epoch(net, opt, criterion)
plt.plot(e_losses)

KeyboardInterrupt:

In [ ]:
dat = pd.read_csv('test.csv')

dat['Age'] = dat['Age'].fillna(dat['Age'].mean())



del dat['Ticket']
del dat['Name']
del dat['Cabin']


dat["Embarked"] = dat["Embarked"].fillna("S")

dat.head(3)

In [ ]:
dat = pd.concat([dat,pd.get_dummies(dat['Embarked'], prefix='Emb')],axis=1)

dat = pd.concat([dat,pd.get_dummies(dat['Sex'], prefix='Sex')],axis=1)

dat = pd.concat([dat,pd.get_dummies(dat['Pclass'], prefix='Pclass')],axis=1)

dat.drop(['Pclass', 'Sex', 'Embarked'],axis=1, inplace=True)

dat.head(4)

In [ ]:
test_data = dat.values
test_X = test_data[:,1:]
pid = test_data[:, 0]
print(pid.shape)

In [ ]:
test_X = torch.from_numpy(test_X)
pid = torch.from_numpy(pid)
pid = pid.view(test_X.size(0), 1)
# print(pid)

In [ ]:
test_X = test_X.type(torch.float)

In [ ]:
pred = net(test_X)
print(pred.size())

In [ ]:
pid = pid.type(torch.float)

pred_y = pred > 0.5 
pred_y = pred_y.type(torch.float)

final = torch.cat((pid, pred_y), 1)

print(final.size())

print(final)

In [ ]:
final = final.type(torch.int)
final = final.numpy()


with open("foo.csv", "wb") as f:
    f.write(b'PassengerId,Survived\n')
    np.savetxt(f, final.astype(int), fmt='%i', delimiter=",")
# np.savetxt("foo.csv", final.astype(int), delimiter=",", header = 'PassengerId,Survived')

In [ ]:
print(final.dtype)

In [ ]:
# pred_y = pred > 0.5 
# pred_y = pred_y.type(torch.float)
# # print(test_Y.type())
# num_correct = torch.sum(test_Y==pred_y) 
# acc = (num_correct.item() * 100.0 / len(test_Y))
# print(acc)
# print(pred_y.size())